<h1> Welcome to <%= @restaurant.name %></h1>

<p><%= link_to "Edit Name", edit_restaurant_path(@restaurant) %></p>

<p><%= link_to "Delete Restaurant", restaurant_path(@restaurant), :confirm => 'Are you sure?', :method => :delete %></p>



<table style='border: 2px solid #999'>
  <thead>
    <th> Restaurant Reviews </th>
  </thead>
  <tbody>
    <% @restaurant.reviews.each_with_index do |review, index| %>
    <tr>
      <td> Review <strong><%= index +1 %></strong> </td>
      <td> <%= review.text %> </td>
    </tr>
    <%end%>
  </tbody>
</table>

<h3><%= @restaurant.reviews.empty? ? "You need to create a review" : "Look at all those lovely reviews!!" %></h3>

<p> <%= link_to "Create your own review", new_restaurant_review_path(@restaurant) %></p>

<p> <%= link_to "Home", root_path %> </p>
