<h1> Welcome to <%= @restaurant.name %>'s Reviews</h1>

<h2> Cuisine Style(s)</h2>
<% @restaurant.cuisines.each do |cuisine| %>
<h2><%= cuisine.name %></h2>
<%end%>

<div>
<table style='border: 2px solid #999'>
  <thead>
    <th> Restaurant Reviews </th>
  </thead>
  <tbody>
    <% @restaurant.reviews.each_with_index do |review, index| %>
    <tr>
      <td> Review <strong><%= index +1 %></strong> </td>
      <td> <%= review.text %> </td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>

<h5><%= @restaurant.reviews.empty? ? "You need to create a review" : "Look at all those lovely reviews!!" %></h5>



<p> <h2>Create your own review:</h2>

  <%= form_for @review, :url => restaurant_reviews_path(@restaurant) do |f| %>
  <%= f.label "Go for it" %>:
  <%= f.text_field :text %><br />


  <%= f.submit %>
<% end %>

</p>

<p><%= link_to "Edit Restaurant Name", edit_restaurant_path(@restaurant) %></p>

<p><%= link_to "Delete Restaurant", restaurant_path(@restaurant), :confirm => 'Are you sure?', method: :delete %></p>

<p> <%= link_to "Home", root_path %> </p>
